body {
    margin: 0;
    overflow: hidden;
    background-color: #f3dfde;
}

#heart-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}


.heart {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fc5477;
    transform: rotate(-45deg);
    opacity: 1;
}

.heart::before,
.heart::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #fc5477;
    border-radius: 50%;
}

.heart::before {
    top: -20px;
    left: 0;
}

.heart::after {
    left: 20px;
    top: 0;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.small-heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #e02264;
    opacity: 1;
    transition: transform 1s ease, opacity 1s ease;
}

.small-heart::before,
.small-heart::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px; 
    background-color: #e02264;
    border-radius: 50%;
}

.small-heart::before {
    top: -10px;
    left: 0;
}

.small-heart::after {
    left: 10px;
    top: 0;
}

@font-face {
    font-family: 'Pacifico-Regular';
    src: url('Pacifico-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.mainfont {
    font-family: 'Pacifico-Regular', sans-serif;
}

#header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(243, 223, 222, 0.8);
}

.header-content {
    display: flex;
    align-items: center;
    padding: 5px;
}

.header-text {
    font-size: 5em;
    color: #fc5477;
    margin-left: -10px;
    margin: 0;
    position: relative;
    z-index: 11;
}

.flowers {
    transform: scale(0.5);
    position: relative;
    z-index: 11;
    margin-right: -80px;
}

.unselectable {
    user-select: none;
}